[Unit]
Description=OpenSSH server daemon (CHERI)
After=syslog.target network.target auditd.service

[Service]
ExecStartPre=/cheri/usr/bin/ssh-keygen -A
ExecStart=/cheri/usr/sbin/sshd -D -e
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
